body {
    color: white;
}

.choice-contianer {
    display: flex;
    margin-bottom: .8rem;
    width: 100%;
    border-radius: 4px;
    background: turquoise;
    font-size: 3rem;
    min-width: 80rem;
}

.choice-contianer:hover {
    cursor: pointer;
    transform: scale(1.03);
    transform: transfrom 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(90deg, rgb(27, 207, 10) 0%, rgb(53, 224, 18) 100%);
}

.incorrect {
    background: linear-gradient(90deg, rgb(238, 58, 58) 0%, rgb(224, 18, 18) 100%);
}

/* HUD = Heads up display */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(27, 207, 10);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(27, 207, 10);
    width: 0%;
}

.timer{
    color: white;
}


/* adjustments for phone screens */
@media screen and (max-width: 768px) {
    .choice-contianer {
        min-width: 40rem;
    }
}